html , body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    line-height: 70px;
    z-index: 2;
    background: rgba(0,0,0,0.7);
    border-bottom: solid black 1px;
   
    color: white; 
    text-align: center;
    letter-spacing: 5px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 34px;
}

#content {
    height: 100%;
    width: 100%;
}

.parallax {
    min-height: 500px;
    background: transparent;
}


#mainImg1 {
    background: url('/src/pics/centeralpic.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#mainImg2 {

}

 /* -- Sector 2 Related */

 #sector2 {
    width: 100%;
    background: linear-gradient(to bottom right, #444, #111);
    padding: 20px 0;
}

.subContainer {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    
    height: 90%;
    width: 95%;
} 

#sector2 .subContainer {
    border: dotted white 5px;
}

#sector2 h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    font-size: 56px;
}

#sector2 .subContainer p{
    color: white;
    text-align: center;
    font-family: 'Share Tech Mono';

    width: 55%;
    margin: auto;
}

#sector2 .subContainer p span {
    color: #ac0606;
    font-size: 20px;
    font-weight: 400;
}

#sector2 #thatsJack {
    background: url('/src/pics/thatsJack.png') no-repeat center;
    background-size: cover;
    
    width: 200px;
    height: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 20px 0px black;


}




/*  --Sector3 related-- */


#sector3 {
    width: 100%;
    background: linear-gradient(to bottom right, #444, #111);
    padding: 30px 0;
    height: fit-content;
}

#tabHolder {
    width: 60%;
    height: 75px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#tabHolder .button {
    width: 25%;
    color: white;
    font-family: 'Share Tech Mono';
    font-size: 30px;
    text-align: center;

    line-height: 75px;
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to top left, #444, #333);
    box-shadow: 0 0 10px 0px black;
    transition: .2s;
}

#tabHolder .button:hover {
    transform: scale(1.1);
}

#tabHolder .button:active {
    transform: scale(1);
}

.on {
    box-shadow: inset 0 0 17px lime,
    0 0 3px limegreen !important;
}

#tabHolder .button .lightBulb {
    border: solid black 1px;
    border-radius: 50%;
    width: 15px;
    height: 15px;

    position: relative;
    top: 30px;
    box-shadow: inset 0 0 11px grey;
}

#tabContent {
    width: 60%;
    margin: auto;
    margin-top: 70px;
}

#tabContent p {
    color: white;
    width: fit-content;
    margin: auto;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

.saved {
    color: royalblue;
}
.varName {
    color: #c0c01e;;
}

.str {
    color: orange;
}

#tabContent span {
    transition: .2s;
}

span:hover {
    color: red;
}



.MenuGrid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 60px;

    width: 90%;
    height: 2000px;
}

.coctailPic {
    box-shadow: 0 0 20px 3px black;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    transition: 1s;
}

.coctailPic:hover {
    transform: scale(1.1);
}

.coctailPic h1 {
    text-align: center;
    color: white;
    
    text-shadow: 0 0 7px black;
    font-family: 'Share Tech Mono',cursive;
}